{% extends 'base.html.twig' %}

{% block title %}Editor index{% endblock %}

{% block body %}
    <h1>Editor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for editor in editors %}
            <tr>
                <td>{{ editor.id }}</td>
                <td>{{ editor.name }}</td>
                <td>{{ editor.description }}</td>
                <td>{{ editor.createdAt ? editor.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ editor.updatedAt ? editor.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_editor_show', {'id': editor.id}) }}">show</a>
                    <a href="{{ path('app_admin_editor_edit', {'id': editor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_editor_new') }}">Create new</a>
{% endblock %}
